@page
@model Arts.Pages.Admin.EditArtistModel
@{
    ViewData["Title"] = "Edit artist";
}

<div class="container">
    <br />
    <h2>New Artist</h2>

    @if (Model.errorMessage.Length > 0)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>@Model.errorMessage</strong>
            <button type="button" class="btn-close" data-bs-dismiss='alert' aria-label="Close"></button>
        </div>
    }

    <form method="post">
        <input class="form-control" type="hidden" name="Id" value="@Model.artist.Id" />
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Name</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="ArtistName" value="@Model.artist.ArtistName" />
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-6">
                <input type="email" class="form-control" name="ArtistEmail" value="@Model.artist.ArtistEmail" />
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Url</label>
            <div class="col-sm-6">
                <input type="url" class="form-control" name="ArtistUrl" value="@Model.artist.ArtistUrl" />
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Thumbnail</label>
            <div class="col-sm-6">
                <input type="file" class="form-control" name="ArtistThumbnail" value="@Model.artist.ArtistThumbnail" />
            </div>
        </div>

        @if (Model.successMessage.Length > 0)
        {
            <div class="row mb-3">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@Model.successMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        }

        <div class="row mb-3">
            <div class="offset-sm-3 col-sm-3 d-grid">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="col-sm-3 d-grid">
                <a class="btn btn-outline-primary" href="/Admin/ArtistAdmin" role="button">Cancel</a>
            </div>
        </div>
    </form>

</div>
